svg(version='1.1', viewbox='0 0 100 100', width='100', height='100')
	g
		path(d='m50 89.5c21.801 0 39.5-17.699 39.5-39.5s-17.699-39.5-39.5-39.5-39.5 17.699-39.5 39.5 17.699 39.5 39.5 39.5zm0-72c17.898 0 32.5 14.602 32.5 32.5s-14.602 32.5-32.5 32.5-32.5-14.602-32.5-32.5 14.602-32.5 32.5-32.5z', fill='#fff')
		path(d='m35.5 64.5c0.69922 0.69922 1.6016 1 2.5 1s1.8008-0.30078 2.5-1l9.5-9.5 9.5 9.5c0.69922 0.69922 1.6016 1 2.5 1s1.8008-0.30078 2.5-1c1.3984-1.3984 1.3984-3.6016 0-5l-9.5-9.5 9.5-9.5c1.3984-1.3984 1.3984-3.6016 0-5s-3.6016-1.3984-5 0l-9.5 9.5-9.5-9.5c-1.3984-1.3984-3.6016-1.3984-5 0s-1.3984 3.6016 0 5l9.5 9.5-9.5 9.5c-1.3984 1.3984-1.3984 3.6016 0 5z', fill='#fff')
