#options {
	z-index: 4;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, .5);
	transition: opacity .3s, visibility .3s;
}

.options {
	&--visible {
		opacity: 1 !important;
		visibility: visible !important;
	}

	&__copyright {
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	&__block {
		padding: 60px 0 0;
	}

	&__title {
		margin-bottom: 15px;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__subtitle {
		margin-top: 20px;
	}
}

input[type="range"] {
	z-index: 5;
	height: 4px;
	background: rgba(255, 255, 255, .8);
	border-radius: 4px;
	position: relative;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;

	&::-webkit-slider-thumb {
		z-index: 6;
		width: 20px;
		height: 20px;
		background: #fff;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		-webkit-appearance: none;
	}
}

#options__change {
	margin-right: 10px;
}

#change {
	width: 300px;
}

#category {
	width: 200px;
}

#login {
	width: 50px;
}
