doctype
html(lang='en')
	head
		meta(charset='UTF-8')
		title Splashy
		link(rel='stylesheet', href='../css/app.css')
	body
		#background
			include ./messages.jade
			include ./navigation.jade
			include ./options2.jade
		script(src='../js/app.js')
