#buttons
	a.logo(href='https://unsplash.com', target='_blank')
		include ./icons/logo.jade
	#settings.button
		include ./icons/settings.jade
	#close.button
		include ./icons/close.jade
	#random.button
		include ./icons/random.jade
